{% extends "superadmin_layout.html" %}
    {% block body %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <h3>Add organization</h3>
                <span style="color:red;">{{ error }}</span>
                <form method="post" action="{{ url_for('superadmin.add_org') }}">
                    <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
                        <input type="text" class="form-control" id="input-name" placeholder="Organization name" name="name" >
                        <input type="email" class="form-control" align="middle" id="input-email" placeholder="Email" name="email">
                        <input type="text" class="form-control" align="middle" id="input-location" placeholder="Location" name="location">
                        <input type="tel" class="form-control" align="middle" id="input-telephone" placeholder="Telephone" name="telephone">
                        <input type="tel" class="form-control" align="middle" id="input-mobile" placeholder="Mobile" name="mobile">
                        <textarea rows="7" class="form-control about" name="about_org" placeholder="Description about the organisation"></textarea>

                        <select name="org_admin" class="form-control">
                          <option value="" disabled selected>Select admin</option>
                                {% for user in users_list %}
                                    <option value="{{ user }}"> {{ get_user_name_last_name_by_username(user).name }} {{ get_user_name_last_name_by_username(user).lastname }} </option>
                                {% endfor %}
                        </select>
                        <button type="submit" class="btn">Add organization</button>
                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->


    {% endblock %}
