{% extends "superadmin_layout.html" %}
    {% block body %}
        <div id="page-wrapper">

            <div class="container-fluid">
                <h3>Add users</h3>
                <form method="post" action="{{ url_for('superadmin.add_users') }}">
                    <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
                        <input type="text" class="form-control" id="input-name" placeholder="Name" name="name" >
                        <input type="text" class="form-control" id="input-lastname" placeholder="Lastname" name="lastname" >
                        <input type="email" class="form-control" align="middle" id="input-email" placeholder="Email" name="email">
                        <select name="role" class="form-control">
                          <option value="" disabled selected>Select role</option>
                          <option value="individual">Individual</option>
                          <option value="member">Member</option>
                          <option value="editor">Editor</option>
                            <option value="orgadmin">Organization Admin</option>
                        </select>
                        <input type="password" class="form-control" id="input-pass" placeholder="Password" name="password">
                        <input type="password" class="form-control" id="confirm-pass" placeholder="Confirm password" name="confirm_password">
                        <button type="submit" class="btn">Add user</button>

                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->


    {% endblock %}
