{% extends "layout.html" %}
{% block body %}
<!--About Session-->

    <section>
       <div class="row" id="sign-up-form">
                <div class="col-md-4 col-xs-12 col-md-offset-4 text-center">
                    <button type="button" class="btn btn-google">Sign up with Google</button>
                    <button type="button" class="btn btn-facebook">Sign up with Facebook</button>
                    <br>
                    <h5 class="text-center">or</h5>
                    <input type="email" class="form-control" align="middle" id="input-email" placeholder="Email">
                    <input type="password" class="form-control" id="input-pass" placeholder="Password">
                    <input type="password" class="form-control" id="confirm-pass" placeholder="Confirm password">
                    <button type="submit" class="btn btn-signup">Sign up</button>

                    <h5>Already got an account?</h5>
                    <a href="#log-in-form">Log in here.</a>
                </div>
                <br><br>
            </div>

    </section>
{% endblock %}