{% extends "layout.html" %}
{% block body %}
    <div class="org-feed">


        <div class="row org-menu">
            <div class="col-md-10 col-md-offset-1">
                <ul>
                    <li><a href="{{ url_for ('organization.feed', organization_slug=organization.org_slug) }}"
                           class="active">Feed</a></li>
                    <li><a href="{{ url_for ('organization.about', organization_slug=organization.org_slug) }}">About
                        us</a></li>
                    <li>
                        <a href="{{ url_for ('organization.archive', organization_slug=organization.org_slug) }}">All
                            articles</a>
                    </li>
                </ul>
            </div>
        </div>
        {% include('mod_organization/org_header.html') %}
        <div id="org-acc-details">
            <div class="row">
                <div class="col-md-1 col-md-offset-1 col-sm-1 col-xs-1" style="padding-left: 0px">
                    <div class="dropdown">
                        <button class="fa fa-bars dropdown-toggle "
                                data-toggle="dropdown" role="menu"></button>
                        <ul class="dropdown-menu col-xs-12">
                            <li><a href="{{ url_for('main.feed') }}">Feed</a></li>
                            <li>
                                <a href="{{ url_for('article.my_articles', article_action='show') }}">Article
                                    management</a>
                            </li>
                            <li><a href="#">Comments</a></li>
                            <li><a href="#">Bookmarks</a></li>
                            <li><a href="#">Following</a></li>
                            <li>
                                <a href="{{ url_for('profile.profile_settings', username=current_user.username) }}">Account
                                    Details</a>
                            </li>
                            {% if current_user.has_role('org_admin') %}
                                {% include ('mod_organization/org_administration.html') %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-1 col-xs-offset-1">
                    <a href="{{ url_for('article.new_article' , author_type="organization", name=organization.name, username=organization['org_slug']) }}"
                       class="fa fa-pencil"></a>
                </div>
                <div class="col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-1 col-xs-offset-1">
                    <a href="{{ url_for('organization.search', organization_slug=organization.org_slug) }}"
                       class="fa fa-search"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <h4>Org account details</h4>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-2 col-md-offset-1 col-sm-6 col-sm-offset-4 col-xs-10 col-xs-offset-2">
                    <img src="{{ url_for('static',filename=current_user.avatar_url) }}"
                         class="img-responsive img-circle avatar">
                    <form name="avatar_change" method=POST enctype="multipart/form-data"
                          action="{{ url_for('profile.upload_avatar') }}">

                        <input type='file' name='photo'>
                        <button type="submit" class="change-avatar">Change avatar</button>
                    </form>

                </div>

                <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-4 col-xs-10 col-xs-offset-2">
                    <h5>Edit account details</h5>
                    <span style="color:green;">{% if error != '' %}{{ error }}{% endif %}</span>
                    <form name="org-details" id="org-details" method="POST"
                          action="{{ url_for('organization.organization_settings', organization_slug=organization.org_slug) }}">

                        <input type="text" class="personal-data name" placeholder="Name" name="org_name"
                               value="{% if organization.name -%}{{ organization.name }} {% endif %}">


                        <input type="text" class="personal-data email" placeholder="Email" name="org_email"
                               value="{% if organization.email -%} {{ organization.email }}{% endif %}">


                        <input type="text" class="personal-data location" placeholder="Location" name="org_location"
                               value="{% if organization.location -%}{{ organization.location }} {% endif %}">


                        <input type="text" class="personal-data telephone" placeholder="Telephone" name="org_telephone"
                               value="{% if organization.telephone -%}{{ organization.telephone }} {% endif %}">


                        <input type="text" class="personal-data mobile" placeholder="Mobile" name="org_mobile"
                               value="{% if organization.mobile -%} {{ organization.mobile }} {% endif %}">


                        <textarea rows="7" class="personal-data about" name="about_org">{% if organization.about_org -%}
                            {{ organization.about_org }} {% endif %}</textarea>
                        <button type="submit" class="save_details">Save</button>
                    </form>

                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-4 col-xs-10 col-xs-offset-2">
                    <h5>Delete organization account</h5>
                    <h6>Are you sure? There's no coming back from this one!</h6>
                    <h6><b>All organization articles will be deleted.</b></h6><br>
                    <button type="submit" class="del-account">Send email to Superadmin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}