{% extends "layout.html" %}
{% block body %}

    <div class="org-feed">
        <div class="container">
           <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <ul>
                            <li><a href="{{ url_for ('organization.feed', organization_slug=organization['org_slug']) }}" class="active">Feed</a></li>
                            <li><a href="{{ url_for ('organization.about', organization_slug=organization['org_slug']) }}" >About us</a></li>
                            <li><a href="{{ url_for ('organization.archive', organization_slug=organization['org_slug']) }}"  >All articles</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Banner part at Feed/About/Article Pages-->

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <i class="fa fa-share-alt share-org"></i>
                        <img src="{{ url_for('static', filename = 'img/banner.png') }}" class="banner">

                        <div class="box">
                            <img src="{{ url_for('static', filename = 'img/prof3.png') }}" class="img-circle user-pic">
                            <span class="user-name">PANTRINA</span>
                            <button type="button" class="follow pull-right">Follow</button>
                            <button type="button" class="ask-to-join pull-right">Ask to join</button>

                        </div>
                    </div>
                </div>

                {% if current_user.is_authenticated %}
                    <div class="row">
                        <div class="col-md-1 col-md-offset-1 col-sm-1 col-xs-1 text-center">
                            <button class="fa fa-bars dropdown-toggle" data-toggle="dropdown"
                                            style="color: #000"></button>
                                <ul class="dropdown-menu" style="margin: 12px 0 0 30px; padding-top: 0px;">
                                    <li><a href="#" class="active">Feed</a></li>
                                    <li><a href="{{ url_for('article.my_articles', article_action='show') }}">Article
                                        management</a></li>
                                    <li><a href="#">Comments</a></li>
                                    <li><a href="#">Bookmarks</a></li>
                                    <li><a href="#">Following</a></li>
                                    <li><a href="{{ url_for('profile.profile_settings', username=current_user.username) }}">Account details</a></li>
                                </ul>

                            </div>
                        <div class="col-md-1">
                            <a href="{{ url_for('article.new_article' , author_type="organization", name=organization['name'], username=organization['org_slug']) }}" class="fa fa-pencil"></a>
                        </div>
                        <div class="col-md-1">
                            <a href="{{ url_for('organization.search', organization_slug=organization['org_slug']) }}" class="fa fa-search"></a>
                        </div>

                        <div class="col-md-5">
                            <input type="text" placeholder="Search for Articles or Authors in {{ current_user.name }}" class="search-field"/>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-1 col-md-offset-1">
                            <a href="" class="fa fa-search"></a>
                        </div>
                        <div class="col-md-5">
                            <input type="text" placeholder="Search for Articles or Authors in {{ current_user.name }}" class="search-field"/>
                        </div>

                        <div class="col-md-1">
                            <a class="fa fa-file-video-o" data-toggle="tooltip" title="Filter by video"></a>
                        </div>
                        <div class="col-md-1">
                            <a class="fa fa-file-audio-o" data-toggle="tooltip" title="Filter by audio"></a>
                        </div>
                        <div class="col-md-1">
                            <a class="fa fa-file-text-o" data-toggle="tooltip" title="Filter by text"></a>
                        </div>
                        <div class="col-md-1">
                            <a class="fa fa-paperclip" data-toggle="tooltip" title="Filter by attachment"></a>
                        </div>
                    </div>

                {% endif %}

                <div class="articles">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 latest row-bottom-margin row-margin">
                        </div>
                    </div>
                    <div class="row">
                        <button class="col-md-8 col-md-offset-2 load-more-btn" data-skip-posts-number="6" data-posts-per-page="6">
                            Load more
                        </button>
                    </div>
                </div>
        </div>
    </div>

{% endblock body %}