{% extends "layout.html" %}
{% block body %}

    <div class="org-archive">
        <div class="row text-left">
            <div class="col-md-3 col-md-offset-2">
                <ul>
                    <li><a href="{{ url_for ('organization.feed', organization_slug = organization.user_slug )}}">Feed</a></li>
                    <li><a href="{{ url_for ('organization.about', organization_slug = organization.user_slug )}}">About us</a></li>
                    <li><a href="" class="active">All articles</a></li>
                </ul>
            </div>
        </div>

        <!-- Banner part at Feed/About/Article Pages-->

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img src="{{ url_for('static', filename = 'img/banner.png') }}" class="banner">
                <div class="box">
                    <img src="{{ url_for('static', filename = 'img/prof3.png') }}" class="img-circle user-pic">
                    <span class="user-name">{{ current_user.name }}, {{ current_user.lastname }}</span>
                    <button type="button" class="follow pull-right">Follow</button>
                    <button type="button" class="ask-to-join pull-right">Ask to join</button>
                </div>
            </div>
        </div>
    </div>



{% endblock body %}