{% extends "layout.html" %}
{% block body %}

    <div class="org-about">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                <li><a href="{{ url_for ('organization.feed', organization_slug =organization.user_slug )}}" >Feed</a></li>
                <li><a href="" class="active">About us</a></li>
                <li><a href="{{ url_for ('organization.archive', organization_slug =organization.user_slug )}}">All articles</a></li>
                </ul>
            </div>
        </div>

        <!-- Banner part at Feed/About/Article Pages-->

        <div class="row">
            <div class="col-md-12">
                <img src="{{ url_for('static', filename = 'img/banner.png') }}" class="banner">
                <div class="box">
                    <img src="{{ url_for('static', filename = 'img/prof3.png') }}" class="img-circle user-pic">
                    <span class="user-name">{{ current_user.name }}, {{ current_user.lastname }}</span>
                    <button type="button" class="follow pull-right">Follow</button>
                    <button type="button" class="ask-to-join pull-right">Ask to join</button>
                </div>
            </div>
        </div>

        <div class="row activity-info">
            <div class="col-md-2 col-md-offset-3">
                <span>Location:</span> <strong><span>{{ current_user.location }}</span></strong>
            </div>
            <div class="col-md-2">
                <span>Articles:</span><strong><span>0</span></strong>
            </div>
            <div class="col-md-2">
                <span>Followers:</span><strong><span>0</span></strong>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <span style="font-weight: bold; font-size: 30px">About us</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat.
                Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Aliquam at porttitor sem.  <br><br>

                Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et
                faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
                Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                </span>
            </div>
        </div>
            <br/>
        <div class="row">
            <div class="col-md-3">
                <span class="contact">Contact us</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 contact-info">
                <span class="email col-md-3">E-mail: {{ current_user.email }}</span>
                <span class="telephone col-md-3">Telephone: {{ current_user.telephone }}</span>
                <span class="mobile col-md-3">Mobile: {{ current_user.mobile }}</span>
            </div>
        </div>
    </div>
    <br/>
    </div>




{% endblock body %}