{% extends "layout.html" %}
{% block body %}
    <div class="org-search">
        <div class="row org-menu">
            <div class="col-md-10 col-md-offset-1">
                <ul>
                    <li>
                        <a href="{{ url_for ('organization.feed', organization_slug=organization['org_slug']) }}">
                            Feed
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for ('organization.about', organization_slug=organization['org_slug']) }}">
                            About us
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for ('organization.archive', organization_slug=organization['org_slug']) }}">
                            All articles
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Banner part at Feed/About/Article Pages-->
        {% include('mod_organization/org_header.html') %}

        {% if current_user.is_authenticated %}
            <div class="row">
                <div class="col-md-1 col-md-offset-1 col-sm-1 col-xs-1 text-center">
                    <button class="fa fa-bars dropdown-toggle" data-toggle="dropdown"
                            style="color: #000"></button>
                    <ul class="dropdown-menu" style="margin: 12px 0 0 30px; padding-top: 0px;">
                        <li><a href="{{ url_for('main.feed') }}" class="active">Feed</a></li>
                        <li><a href="{{ url_for('article.my_articles', article_action='show') }}">Article
                            management</a></li>
                        <li><a href="#">Comments</a></li>
                        <li><a href="#">Bookmarks</a></li>
                        <li><a href="#">Following</a></li>
                        <li><a href="#">Account details</a></li>
                        {% if current_user.has_role('org_admin')%}
                            {% include ('mod_organization/org_administration.html') %}
                        {% endif %}
                    </ul>


                </div>
                <div class="col-md-1">
                    <a href="{{ url_for('article.new_article' , author_type="organization", name=organization['name'], username=organization['org_slug']) }}" class="fa fa-pencil"></a>
                </div>
                <div class="col-md-1">
                    <a href="" class="fa fa-search"></a>
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Search for Articles or Authors in {{ organization['name'] }}"
                           class="search-field"/>
                </div>
                <div class="nav-article-type">
                    <div class="col-md-1 text-right">
                        <a class="fa fa-file-video-o" data-toggle="tooltip" title="Filter by video"></a>
                    </div>
                    <div class="col-md-1 text-right">
                        <a class="fa fa-file-audio-o" data-toggle="tooltip" title="Filter by audio"></a>
                    </div>
                    <div class="col-md-1 text-right">
                        <a class="fa fa-file-text-o" data-toggle="tooltip" title="Filter by text"></a>
                    </div>
                    <div class="col-md-1 text-right">
                        <a class="fa fa-paperclip" data-toggle="tooltip" title="Filter by attachment"></a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-1 col-md-offset-1">
                    <a href="" class="fa fa-search"></a>
                </div>
                <div class="col-md-5">
                    <input type="text" placeholder="Search for Articles or Authors in {{ organization['name'] }}"
                           class="search-field"/>
                </div>
                <div class="nav-article-type">
                    <div class="col-md-1 text-right">
                        <a class="fa fa-file-video-o" data-toggle="tooltip" title="Filter by video"></a>
                    </div>
                    <div class="col-md-1 text-right">
                        <a class="fa fa-file-audio-o" data-toggle="tooltip" title="Filter by audio"></a>
                    </div>
                    <div class="col-md-1 text-right">
                        <a class="fa fa-file-text-o" data-toggle="tooltip" title="Filter by text"></a>
                    </div>
                    <div class="col-md-1 text-right">
                        <a class="fa fa-paperclip" data-toggle="tooltip" title="Filter by attachment"></a>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul>
                    <li class="col-md-6 text-center"><a href="#tabs-1" class="tab-1">Articles</a></li>

                    <li class="col-md-6 text-center"><a href="#tabs-2" class="tab-2">Authors</a></li>
                </ul>
            </div>
        </div>

        <div class="row" id="Articles-found">
            {% for article in articles %}
                <div class="search-item row">
                    <div class="col-md-1 col-md-offset-2">
                        <img src="{{ url_for('static', filename='img/prof3.png') }}" class="img-circle search-img-item">
                    </div>
                    <div class="col-md-6">
                        <a href="{{ url_for('article.article', slug = article.slug) }}"><h4 class="search-result-title">{{ article.title }}</h4></a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row" id="people-found">
            {% for user in users %}
                <div class="search-item row">
                    <div class="col-md-1 col-md-offset-2">
                        <img src="{{ url_for('static', filename='img/prof3.png') }}" class="img-circle search-img-item">
                    </div>
                    <div class="col-md-6">
                        <a href="{{ url_for('profile.feed', username=user.username) }}"><h4 class="search-result-title">{{ user.name }}, {{ user.lastname }}</h4></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $(".nav-article-type, #people-found").css("display","none");

            $(".tab-2").click(function () {
                $(".nav-article-type, #Articles-found").hide();
                $("#people-found").show();
            });

            $(".tab-1").click(function () {
                $(".nav-article-type, #Articles-found").show();
                $("#people-found").hide();
            });
        })
    </script>
{% endblock %}