{% extends "layout.html" %}
{% block body %}

<script type="text/javascript" src="http://www.html.am/html-editors/ckeditor/ckeditor_3.4/ckeditor.js"></script>



    <div id="text-editor" class="text-center">

        <div id="editor-bar">

            <i class="fa fa-bars" aria-hidden="true" data-toggle="popover">

            </i>
            <i class="fa fa-bold" aria-hidden="true"></i>
            <i class="fa fa-italic" aria-hidden="true"></i>
            <i class="fa fa-underline" aria-hidden="true"></i>
            <i class="fa fa-strikethrough" aria-hidden="true"></i>
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            <i class="fa fa-list-ol" aria-hidden="true"></i>
            <i class="fa fa-align-left" aria-hidden="true"></i>
            <i class="fa fa-align-center" aria-hidden="true"></i>
            <i class="fa fa-align-right" aria-hidden="true"></i>
            <i class="fa fa-align-justify" aria-hidden="true"></i>
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <i class="fa fa-link" aria-hidden="true" ></i>

        </div>

    <textarea class="title" rows="1" style="overflow:hidden">
     Title
    </textarea>

    <textarea class="description" rows="10" style="overflow:hidden">
     Description
    </textarea>


    </div>

{#    <div id="text-editor2" class="text-center" style="width:70%; height: 50%;">#}
{##}
{#                <textarea class="txt-editor" cols="80" id="editor-bold" name="editor-bold" rows="20">#}
{#                    <p>Instructions:</p>#}
{#                    <ol>#}
{#                    <li>Replace this text with your own text.</li>#}
{#                    <li>Use the above toolbar format the text.</li>#}
{#                    <li>Use the <b>Source</b> button to view the HTML code. You can then copy/paste the code into your own website or blog.</li>#}
{#                    </ol>#}
{#                    <p>There, that's all it takes to generate HTML text code for your website!</p>#}
{#            </textarea>#}
{#     </div>#}
{##}
{##}
{##}
{#<script type="text/javascript">#}
{#//<![CDATA[#}
{#	CKEDITOR.replace( 'editor-bold',#}
{#	    {#}
{##}
{#	        toolbar :#}
{#	        [#}
{##}
{#			['Bold'], ['Italic'], ['Underline'], ['Strike'], ['NumberedList'], ['BulletedList'], ['JustifyLeft'], ['JustifyCenter'], ['JustifyRight'], ['JustifyBlock'], ['FontSize'], ['Source']#}
{#	        ]#}
{##}
{#	    });#}
{##}
{#	CKEDITOR.on( 'instanceReady', function( ev )#}
{#	    {#}
{#			ev.editor.dataProcessor.writer.setRules( 'p',#}
{#                 {#}
{#                     indent : false,#}
{#                     breakBeforeOpen : false,#}
{#                     breakAfterOpen : false,#}
{#                     breakBeforeClose : false,#}
{#                     breakAfterClose : true#}
{#                 });#}
{#			ev.editor.dataProcessor.writer.setRules( 'li',#}
{#	             {#}
{#	                 indent : false,#}
{#	                 breakBeforeOpen : false,#}
{#	                 breakAfterOpen : false,#}
{#	                 breakBeforeClose : false,#}
{#	                 breakAfterClose : true#}
{#	             });#}
{#			ev.editor.dataProcessor.writer.setRules( 'ul',#}
{#	             {#}
{#	                 indent : false,#}
{#	                 breakBeforeOpen : false,#}
{#	                 breakAfterOpen : true,#}
{#	                 breakBeforeClose : false,#}
{#	                 breakAfterClose : true#}
{#	             });#}
{#			ev.editor.dataProcessor.writer.setRules( 'ol',#}
{#	             {#}
{#	                 indent : false,#}
{#	                 breakBeforeOpen : false,#}
{#	                 breakAfterOpen : true,#}
{#	                 breakBeforeClose : false,#}
{#	                 breakAfterClose : true#}
{#	             });#}
{#	    });#}
{##}
{#//]]>#}
{#</script>#}


    <a href="" class="btn btn-cancel">Cancel</a>
    <a href="" class="btn btn-publish">Publish</a>
    <a href="" class="btn btn-save">Save</a>





{% endblock %}