{% extends "layout.html" %}
{% block body %}

<script type="text/javascript" src="../../static/ckeditor/ckeditor.js"></script>


        <i class="fa fa-bars" aria-hidden="true" data-toggle="popover"> </i>
    <div id="text-editor" class="text-center">

       {# <div id="editor-bar">

            <i class="fa fa-bars" aria-hidden="true" data-toggle="popover">

            </i>
            <i class="fa fa-text-height" aria-hidden="true"></i>
            <i class="fa fa-bold" aria-hidden="true"></i>
            <i class="fa fa-italic" aria-hidden="true"></i>
            <i class="fa fa-underline" aria-hidden="true"></i>
            <i class="fa fa-strikethrough" aria-hidden="true"></i>
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            <i class="fa fa-list-ol" aria-hidden="true"></i>
            <i class="fa fa-align-left" aria-hidden="true"></i>
            <i class="fa fa-align-center" aria-hidden="true"></i>
            <i class="fa fa-align-right" aria-hidden="true"></i>
            <i class="fa fa-align-justify" aria-hidden="true"></i>
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <i class="fa fa-link" aria-hidden="true" ></i>

        </div>

    <textarea class="title" rows="1" style="overflow:hidden">
     Title
    </textarea>

    <textarea class="description" rows="10" style="overflow:hidden">
     Description
    </textarea>
#}

    </div>




    <a href="" class="btn btn-cancel">Cancel</a>
    <a href="" class="btn btn-publish">Publish</a>
    <a href="" class="btn btn-save">Save</a>

        <script>
            CKEDITOR.replace( 'text-editor',
            {toolbar :
            [

                ['FontSize','Bold','Italic','Underline','Strike','BulletedList','NumberedList','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','Image','Link'],
                ['Source'],



            ],

                        width: 1000,
                        height:400


                    });


        </script>



{% endblock %}