{% extends "layout.html" %}
{% block body %}

<!--Sign Up Session-->

    <section>
        <div class="row" id="sign-up-form">
            <form method="post" action="{{ url_for('auth.sign_up') }}">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
                    <button type="button" class="btn btn-google">Sign up with Google</button>
                    <button type="button" class="btn btn-facebook">Sign up with Facebook</button><br>
                    <h5 class="text-center">or</h5>
                    <input type="text" class="form-control" id="input-name" placeholder="Name" name="name" >
                    <input type="text" class="form-control" id="input-lastname" placeholder="Lastname" name="lastname" >
                    <input type="email" class="form-control" align="middle" id="input-email" placeholder="Email" name="email">
                    <input type="password" class="form-control" id="input-pass" placeholder="Password" name="password">
                    <input type="password" class="form-control" id="confirm-pass" placeholder="Confirm password" name="confirm_password">
                    {% if error %}<div style="color:red;">   {{ error }}</div>{% endif %}
                    <button type="submit" class="btn btn-signup">Sign up</button>
                    <h5>Already got an account?
                        </h5>
                    <a href="{{ url_for('auth.login') }}">Log in here.</a>
                </div><br><br>
            </form>
        </div>
    </section>
{% endblock %}