{% extends "layout.html" %}
{% block body %}
    <script script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        // TODO: Write the appropriate jQuery function to ensure the clicking on the follow
        // button will call the follow() function.

        $(function () {
            function follow() {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('profile.follow', profile_slug='kosovare-sahatqija') }}",
                    data: JSON.stringify({ follower: 'dummy-follower11'}),
                    success: (function () {
                       $(".follow").val("Unfollow");
                    }),
                    error: function (error) {
                    },
                    dataType: "application/json",
                    contentType: "application/json"
                });
            }

            $(".follow").click(function() {
                follow();
            });

        });
    </script>

    <div id="profile-about">
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <ul>
                    <li><a href="{{ url_for ('profile.feed', profile_slug ="kosovare" )}}" >Feed</a></li>
                    <li><a href="" class="active">About</a></li>
                    <li><a href="{{ url_for ('profile.archive', profile_slug ="kosovare" )}}">All articles</a></li>
                </ul>
            </div>
        </div>


    {% include "mod_profile/profile_banner.html" %}

        <div class="row">
                <div class="col-md-6 col-md-offset-2">
                       <button class="fa fa-bars dropdown dropdown-toggle " aria-hidden="true" data-toggle="dropdown"></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Feed</a></li>
                            <li><a href="{{ url_for('main.manage') }}">Article management</a></li>
                            <li><a href="#">Comments</a></li>
                            <li><a href="#">Bookmarks</a></li>
                            <li><a href="#">People / Organisations</a></li>
                            <li><a href="#">Account Details</a></li>
                        </ul>

                        <a href="{{ url_for('main.write') }}" class="fa fa-pencil"></a>
                        <a href="" class="fa fa-search"></a>
                </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <span>Location:</span> <strong><span>Location</span></strong>
            </div>
            <div class="col-md-2">
                <span>Articles:</span><strong><span>0</span></strong>
            </div>
            <div class="col-md-2">
                <span>Followers:</span><strong><span>0</span></strong>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2"><br>
                <span style="font-weight: bold; font-size: 30px">About</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <span><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat.
                    Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Aliquam at porttitor sem.  <br><br>

                    Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et
                    faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
                    Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <span>Contact us</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                
            </div>

        </div>

    </div>
{% endblock body %}