{% extends "layout.html" %}
{% block body %}
    <script script type="text/javascript">
        // TODO: Write the appropriate jQuery function to ensure the clicking on the follow
        // button will call the follow() function.

        $(function () {
            function follow() {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('profile.follow', profile_slug='kosovare-sahatqija') }}",
                    data: JSON.stringify({ follower: 'dummy-follower11'}),
                    success: (function () {
                       $(".follow").val("Unfollow");
                    }),
                    error: function (error) {
                    },
                    dataType: "application/json",
                    contentType: "application/json"
                });
            }

            $(".follow").click(function() {
                follow();
            });

        });
    </script>

    <h2>This is the about page for {{ profile.name }}!</h2>
    <h4>About</h4>
    <strong>{{ profile.about }}</strong>

    <button class="follow">Follow</button>

{% endblock body %}