{% extends "layout.html" %}
{% block body %}

<div id="acc-details">
    <div class="row">
        <div class="col-md-12 col-xs-12 editor-menu">
            <button class="fa fa-bars dropdown dropdown-toggle " aria-hidden="true" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
            <li><a href="#">Feed</a></li>
            <li><a href="{{ url_for('article.my_articles', article_action='show') }}">Article management</a></li>
            <li><a href="#">Comments</a></li>
            <li><a href="#">Bookmarks</a></li>
            <li><a href="#">People / Organisations</a></li>
            <li><a href="#" class="active">Account Details</a></li>
            </ul>
            <a href="{{ url_for('article.new_article', author_type='individual', name=current_user.name, username=current_user.username) }}" class="fa fa-pencil" ></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Account details</h4>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <img src="{{ url_for('static',filename=current_user.avatar_url) }}" class="img-responsive img-circle avatar">
            <form name="avatar_change" method=POST enctype="multipart/form-data" action="{{ url_for('profile.upload_avatar') }}">

                <input type='file'  name='photo' >
                <button type="submit" class="change-avatar" >Change avatar</button>
            </form>

        </div>

        <div class="col-md-4">
            <h5>Edit account details</h5>
            <span style="color:red;">{% if error != '' %}{{ error }}{% endif %}</span>
            <form name="profile-details" id="profile-details" method="POST" action="{{ url_for('profile.profile_settings', username=current_user.username) }}">

                <input type="text" class="personal-data name" placeholder="Name" name="name" value="{% if profile.name %}{{ profile.name }} {% endif %}">


                <input type="text" class="personal-data email" placeholder="Email" name="email" value="{% if profile.email %} {{ profile.email }}{% endif %}">


                <input type="text" class="personal-data location" placeholder="Location" name="location" value="{% if profile.location %}{{ profile.location }} {% endif %}">


                <input type="text" class="personal-data telephone" placeholder="Telephone" name="telephone" value="{% if profile.telephone %}{{ profile.telephone }} {% endif %}">


                <input type="text" class="personal-data mobile" placeholder="Mobile" name="mobile" value="{% if profile.mobile %} {{ profile.mobile }} {% endif %}">


                <textarea rows="7" class="personal-data about" name="about_me" >{% if profile.about_me %}{{ profile.about_me }} {% endif %}</textarea>
                 <button type="submit" class="save_details">Save</button>
            </form>

        </div>
        <div class="col-md-4">
            <h5>Change password</h5>
            <form name="change-password" id="change-password" action="{{ url_for('profile.profile_settings', username=current_user.username) }}">
                <input type="password" class="personal-data" placeholder="Current password">
                <input type="password" class="personal-data" placeholder="New password">
                <input type="password" class="personal-data" placeholder="Confirm new password">
                <button type="submit" class="change-password">Change password</button>
            </form>
            <br><br><br>
            <h5>Delete account</h5>
            <h6>Are you sure? There's no coming back from this one!</h6>
            <h6><b>All your articles will be deleted.</b></h6><br>
            <button type="submit" class="del-account">Delete account</button>
        </div>
    </div>
</div>
{% endblock body %}