{% extends "layout.html" %}
{% block body %}

    <div class="profile-archive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="{{ url_for ('profile.feed', profile_slug = profile.user_slug )}}">Feed</a></li>
                    <li><a href="{{ url_for ('profile.about', profile_slug = profile.user_slug )}}">About me</a></li>
                    <li><a href="" class="active">All articles</a></li>
                </ul>
            </div>
        </div>

        <!-- Banner part at Feed/About/Article Pages-->

        <div class="row">
            <div class="col-md-12">
                <img src="{{ url_for('static', filename = 'img/banner.png') }}" class="banner">
                <div class="box">
                    <img src="{{ url_for('static', filename = 'img/prof3.png') }}" class="img-circle user-pic">
                    <span class="user-name">{{ current_user.name }}, {{ current_user.lastname }}</span>
                    <button type="button" class="follow pull-right">Follow</button>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock body %}