{% extends "layout.html" %}
{% block body %}

    <div id="profile-archive">
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <ul>
                    <li><a href="" class="active">Feed</a></li>
                    <li><a href="{{ url_for ('profile.about', profile_slug = profile.user_slug )}}">About</a></li>
                    <li><a href="{{ url_for ('profile.archive', profile_slug = profile.user_slug )}}">All articles</a></li>
                </ul>
            </div>
        </div>

        <!-- Banner part at Feed/About/Article Pages-->

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img src="{{ url_for('static', filename = 'img/banner.png') }}" class="banner">
                <div class="box">
                    <img src="{{ url_for('static', filename = 'img/prof3.png') }}" class="img-circle user-pic">
                    <span class="user-name">{{ current_user.name }}, {{ current_user.lastname }}</span>
    {#                    TODO: with jinja after we implement login#}
                    <button type="button" class="follow pull-right">Follow</button>
                    <button type="button" class="ask-to-join pull-right">Ask to join</button>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <button class="fa fa-bars dropdown dropdown-toggle " aria-hidden="true" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Feed</a></li>
                    <li><a href="{{ url_for('article.my_articles', article_action='show') }}">Article management</a></li>
                    <li><a href="#">Comments</a></li>
                    <li><a href="#">Bookmarks</a></li>
                    <li><a href="#">People / Organisations</a></li>
                    <li><a href="#">Account Details</a></li>
                </ul>

                <a href="{{ url_for('article.new_article') }}" class="fa fa-pencil"></a>
                <a href="" class="fa fa-search"></a>
            </div>
        </div>
         
    </div>
{% endblock body %}