{% extends "layout.html" %}
{% block body %}
    <div class="bookmarks profile-feed">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul>
                    <li><a href="{{ url_for ('profile.feed', username =profile.username ) }}">Feed</a>
                    </li>
                    <li><a href="{{ url_for ('profile.about', username =profile.username ) }}">About me</a></li>
                    <li><a href="{{ url_for ('profile.archive', username =profile.username ) }}">All articles</a></li>
                </ul>
            </div>
        </div>


        <!-- Banner part at Feed/About/Article Pages-->

        {% include('mod_profile/profile_header.html') %}
        <div class="row menu-icons">
            <div class="col-md-1 col-md-offset-1 col-sm-1 col-xs-1 text-center">
                <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                <ul class="dropdown-menu" style="margin-left: 10px;">
                    <li><a href="{{ url_for('main.feed') }}">Feed</a></li>
                    <li><a href="{{ url_for('article.my_articles', article_action='show') }}">Article
                                management</a></li>
                    <li><a href="#">Comments</a></li>
                    <li><a href="{{ url_for('profile.bookmarks', username=current_user.username) }}">Bookmarks</a></li>
                    <li><a href="{{ url_for('profile.following', username=profile.username) }}">Following</a></li>
                    <li><a href="{{ url_for('profile.profile_settings', username=profile.username) }}">Account
                                details</a></li>
                </ul>

            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 text-center">
                <a href="{{ url_for('article.new_article', author_type='individual', name=profile.name, username=profile.username) }}"
                   class="fa fa-pencil"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <h3 class="administration-title">Comments</h3>
            </div>
        </div>
        <div class="row">
            <div class="comments-list">
                <div class="col-md-10 col-md-offset-1">
                    {% for comment in comments %}
                        <div id="" class="manage-line">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a href="{{ url_for('article.article', slug=comment['slug']) }}">
                                    <h3 class="articles-title">{{ article_title(comment['slug'])['title'] }}</h3>
                                </a>
                                <h5 class="comment-text">{{ comment['text'] }}</h5>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                <h3 class="article-date" style="font-size: 12px; padding: 20px 0px;"
                                    datetime="2016-07-20T12:39">
                                    {% if comment['date'] %}
                                        {{ comment['date'].strftime('%Y-%m-%d %H:%M') }}
                                    {% endif %}
                                </h3>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                                <a class="remove"
                                   href="{{ url_for('profile.remove_comment', username = current_user.username, comment_id = comment._id) }}"><i
                                        class=" fa fa-trash-o"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.remove').click(function (event) {
                event.preventDefault();
                var url = this.href;
                swal({
                            title: "Are you sure?",
                            text: "You will not be able to see your comment anymore!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Yes",
                            confirmButtonColor: "#DD6B55",
                            cancelButtonText: "Cancel",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },

                        function (isConfirm) {
                            if (isConfirm) {
                                swal({
                                    title: '',
                                    text: 'Comment is successfully removed from the article!',
                                    type: 'success'
                                }, function () {
                                    window.location = url;

                                });


                            } else {
                                swal("Cancelled", "Your comment is still there:)", "error");
                            }
                        });
            });
        });


    </script>
{% endblock body %}