{% extends "layout.html" %}
{% block body %}
<div class="following profile-feed">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul>
                <li><a href="{{ url_for ('profile.feed', username =profile.username ) }}" class="active">Feed</a>
                </li>
                <li><a href="{{ url_for ('profile.about', username =profile.username ) }}">About me</a></li>
                <li><a href="{{ url_for ('profile.archive', username =profile.username ) }}">All articles</a></li>
            </ul>
        </div>
    </div>


    <!-- Banner part at Feed/About/Article Pages-->

    {% include('mod_profile/profile_header.html') %}
    {% include('mod_profile/user_menu.html') %}

    <div class="row">
        <div class="search-item row">
            <div class="row">
                <div class="col-md-1 col-md-offset-2">
                    <h3>Following</h3>
                </div>

            </div>
            <div class="row">
                <div class="col-md-1 col-md-offset-3">
                    <span class="org-following">Organizations({{ profile.org_following|length }})</span>
                </div>
            </div>
            {% for org in profile.org_following %}

                <div class="col-md-1 col-md-offset-3">
                    <img src="{{ url_for('static', filename='img/prof3.png') }}" class="img-circle search-img-item">
                </div>
                <div class="col-md-6">
                    <a href="{{ url_for ('organization.feed', organization_slug=org) }}"><span
                            class="search-result-title">{{ org }}</span></a>
                </div>

            {% endfor %}
            <div class="row">
                <div class="col-md-1 col-md-offset-3">
                    <span class="people-following">People({{ profile.people_following|length }})</span>
                </div>
            </div>
            {% for user in profile.people_following %}

                <div class="col-md-1 col-md-offset-3">
                    <img src="{{ url_for('static', filename='img/prof3.png') }}" class="img-circle search-img-item">
                </div>
                <div class="col-md-6">
                    <a href="{{ url_for('profile.feed', username=user) }}"><h4
                            class="search-result-title">{{ user }}</h4></a>
                </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}