<!-- Banner part at Feed/About/Article Pages-->

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <img src="../../static/img/banner.png" class="banner">
            <div class="box">
                <img src="../../static/img/prof3.png" class="img-circle user-pic">
                <span class="user-name">{{ current_user.name }}, {{ current_user.lastname }}</span>
{#                    TODO: with jinja after we implement login#}
                <button type="button" class="follow pull-right">Follow</button>
                <button type="button" class="ask-to-join pull-right">Ask to join</button>

            </div>
        </div>
    </div>
