     /*Text editor style*/

    #text-editor{

        margin: 10% 5% !important;


    }

    #cke_text-editor{
        border: none !important;

    }
    .cke_chrome{
        /*width: 90% !important;*/
        border: none !important;
        background: transparent !important;
        margin: 10% 20% !important;
        box-shadow: none !important;
    }

    .cke_bottom, .cke_top{
        border: none !important;
        background: transparent !important;

    }

    #editor-bar i{
        font-size: 28px;
       margin: 25px;
    }



    .cke_button__bold_icon, .cke_button__italic_icon,
    .cke_button__underline_icon, .cke_button__strike_icon,
    .cke_ltr .cke_button__bulletedlist_icon, .cke_button__numberedlist_icon,
    .cke_button__justifyleft_icon, .cke_button__justifycenter_icon,
    .cke_button__justifyright_icon, .cke_button__justifyleft_icon,
    .cke_button__justifyblock_icon, .cke_button__image_icon, .cke_button__link_icon, .cke_ltr .cke_button__source_icon {

        width: 40px !important;
        height: 40px !important;

    }

    .cke_toolgroup{
        background: transparent !important;
        border: none!important;
        box-shadow: none !important;
        float: none;

      }


    #cke_26_label {
        display: none;
    }

    #cke_11_text{
        display: none;
    }

    .cke_combo_arrow {
        display: none;
    }

    a.cke_combo_button{
        background: url("../ckeditor/skins/moono/fontS.png") !important;
        background-size: 40px 40px !important;
        border: none !important;
        box-shadow: none !important;
        height: 40px !important;
        width: 40px !important;

    }
    .write-menu .fa {

        font-size: 40px;
        background: transparent;
        border: none;
        margin-left: 20px;

    }

     .dropdown {
            position: relative;
            margin-left: 145px;
            margin-top: 141px
    }
      .dropup {
    position: relative;
    margin-left: 145px;
    margin-top: 141px
    }


      .write-menu .dropdown-menu {
    margin: 12px 0 0 40px;
    box-shadow: none;
}

          .btn-cancel, .btn-save, .btn-publish{
        width: 200px;
        height: 50px;
        padding-top: 13px;
    }

    .btn-cancel{
        background-color: #949494;
        margin-left: 20%;


    }

    .btn-save{
        background-color: #457bcc;
        float: right;
        margin-right: 2%


    }

    .btn-publish{
        background-color: #349946;
        float: right;
        margin-right: 20%;


    }

       #text-editor .dropdown-toggle{
        border: none;
        background: none;
        font-size: 40px;
        color: #474747;
        margin-left: 200px;

    }

