/*Header style*/

h1 {
    font-family: 'Comfortaa', cursive;
    color: #666666;
    font-size: 32px;
    margin-left: -10px;
}

header {
    margin-top: 15px;
}

#sign-in {
    float: right;
    margin-top: 30px;
    text-decoration: none;
    font-size: 16px;
}

/*Button properties*/
.btn {
    width: 75%;
    height: 40px;
    margin: 5px;
    color: #ffffff;
    border-radius: 0px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.btn-google {
    margin-top: 50px;
    background-color: #878787;
}

.btn-facebook {
    background-color: #2d59a1;
}

.btn-signup {
    margin-top: 30px;
    background-color: #349946;
}

/*Input fields*/

.form-control {
    width: 77%;
    height: 40px;
    margin: 10px auto;
    border-radius: 0px;
    box-shadow: none;
}

/*LogIn Form*/

.popover {
    max-width: 500px;
    border: none;
    margin-left: -200px;
    background-color: #f7f7f7;
    box-shadow: none;
    border-radius: 0px;
    padding: 38px 0px 140px 40px;
}

.btn-log-in-google {
    background-color: #d6d6d6;
    color: #5c5c5c;
    height: 50px;
    font-size: 14px;

}

.btn-log-in-google:before {
    content: "\f0d5";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    padding-right: 20px;
}

.btn-log-in-facebook:before {
    content: "\f09a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    padding-right: 20px;
}

.btn-log-in-facebook {
    font-size: 14px;
    background-color: #2d59a1;
    height: 50px;
}

.btn-log-in, .btn-popover-log-in {
    background-color: #349946;
    height: 50px;

}

#email-login {
    margin-bottom: -5px;
}

#email-login-popover, #pass-login-popover {
    border: none;
    height: 50px;
}

#log-in-form a {
    float: left;
    color: #666666;
    margin: 10px 0 10px 60px;
    font-size: 0.8em;
}

input#remember_me,
input#remember_me_popover {
    width: 20px;
    margin: 0;
    font-size: 12px;
    border: none;
}

.popover.bottom > .arrow {
    top: -13px;
    left: 50%;
    margin-left: 190px;
    border-top-width: 0;
    border-bottom-color: #888;
    border-bottom-color: rgba(0, 0, 0, .25);
}

.popover.bottom > .arrow:after {
    top: 4px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}

#log-in button,
#log-in input {
    height: 40px;

}

input[type=checkbox] {
    width: 13px;
    height: 18px !important;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    overflow: hidden;
}

/*Footer style*/

footer {
    background-color: #ebebeb;
    bottom: 0;
    padding: 50px 50px 200px 50px;
    margin: 50px 10px 0px;
}

footer ul li a h6 {
    color: #a39999;
    font-size: 1.1em;
    font-family: 'Source Sans Pro', sans-serif;
}

footer ul li {
    list-style-type: none;
}

footer a:hover {
    text-decoration: none;
}

/*Feed page*/

#feed h1 {
    color: #333333;
    font-size: 3.4em;
    font-weight: bolder;
    text-align: center;
    line-height: 1.4em;
}

.moto {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    padding-top: 10px;
    font-size: 18px;
    font-weight: lighter;
}

#un-registered {
    padding-top: 150px;
    padding-bottom: 300px;
}

#feed .btn {
    height: 50px;
    outline: 0;
    font-family: 'Comfortaa', cursive;
}

#feed .btn :focus {
    outline: none;
    box-shadow: none;
}

#feed .btn-signup {
    margin-right: -10px;
    float: right;
    width: 65%;
    border-radius: 2px;
    padding-top: 10px;
    font-size: 1.3em;
}

#feed .btn-continue {
    margin-left: -10px;
    float: left;
    width: 65%;
    font-size: 1.1em;
    background-color: transparent;
    color: #000;
    margin-top: 30px;
    font-weight: 100;
}

#articles .fa-play, .fa-pause {
    color: #fff;
    font-size: 30px;
    z-index: 2;
    float: right;
    margin: -300px 15px;
}

.menu-icons .fa {
    font-size: 35px;
}

.fa-bars, .fa-pencil, .fa-search, .fa-file-audio-o, .fa-file-text-o, .fa-file-video-o, .fa-paperclip {
    font-size: 35px;
    color: #000000;
    margin: 20px 0px;
}

.fa-close {
    color: #c7c7c7;
    font-size: 20px !important;
}

/*article management style*/

#article-management h4 {
    font-weight: bold;
    margin: 40px 0px 20px 200px;
}

.article-visibility {
    padding: 5px 5px 10px 5px;
}

.article-visibility i {
    color: #000;
    font-size: 25px;
}

i.fa.fa-bookmark {
    color: #000;
    font-size: 25px;
}

.manage-line {
    display: flex;
    border: 1px solid #c8c8c8;
    margin-bottom: 10px;
}

time {
    margin-left: 120px;
    margin-top: 20px;
    margin-right: 50px;
}

#article-management button {
    background: transparent;
    border: none;
}

/*positioning dropdown menu*/

.dropdown-menu {
    margin-left: 10px;
    box-shadow: none;
    padding-top: 0px !important;
}

.dropdown-menu > li > a {
    margin: 33px 21px;
    font-size: 20px !important;

}

.fa-pencil {
    color: #000;
    text-decoration: none;
}

a:focus, a:hover {
    color: #000;
    text-decoration: none;
}

/*Account details page*/

h4 {
    font-weight: bold !important;
}

h5 {
    font-weight: bold !important;
    margin: 20px 0px !important;
}

.active {
    font-weight: bold;
}

.personal-data {
    width: 80%;
    margin-bottom: 20px;
    height: 40px;
}

.about {
    height: 140px;
    resize: none;
    border-color: #bfbfbf;
}

.save_details {
    width: 80%;
    background-color: #349946;
    border: none;
    color: #fff;
    height: 40px;
}

.change-password {
    width: 80%;
    background-color: #3498db;
    border: none;
    color: #fff;
    height: 40px;
    margin-bottom: 22px;
    padding-top: 10px;
    margin: 0px;
}

h6 {
    width: 80%;
    font-size: 18px;
}

.del-account {
    width: 80%;
    background-color: #db3535;
    border: none;
    color: #fff;
    height: 40px;
    padding-top: 10px;
    margin: 0px;
}

.del-account:hover {
    color: #fff;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-top: 10%;

}

.change-avatar {
    background-color: #3498db;
    border: none;
    height: 35px;
    color: #fff;
    margin: 40px 0px;
}

/*Profile feed page style*/
.profile-feed ul,
.profile-about ul,
.profile-archive ul,
.prof-search ul,
.org-menu ul,
.org-article-management ul,
#article-management ul {
    margin-left: -40px;
    padding-top: 50px;
}

.profile-feed ul li,
.profile-about ul li,
.profile-archive ul li,
.prof-search ul li,
.org-menu ul li,
.org-article-management ul li,
#article-management ul li {
    list-style-type: none;
    display: inline;

}

.profile-feed ul li a,
.profile-about ul li a,
.profile-archive ul li a,
.prof-search ul li a,
.org-feed ul li a,
.org-about ul li a,
.org-archive ul li a,
.org-search ul li a,
.org-article-management ul li a,
#article-management ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    margin-right: 20px;

}

.profile-feed ul li .active,
.profile-about ul li .active,
.profile-archive ul li .active,
.prof-search ul li .active,
.org-menu ul li .active
.org-article-management ul li .active {
    font-weight: bold;
}

.fa {
    font-size: 35px;
    margin: 20px 10px;
}

img.banner {
    width: 100%;
}

.box {
    width: 100%;
    height: 70px;
    background-color: #81b7e3;
}

.follow, .ask-to-join {
    border: none;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    width: 150px;
    height: 45px;
    margin: 12px 10px;
}

.user-pic {
    margin: 5px;
    width: 60px;
    height: 60px;
}

.user-name {
    color: #fff;
    font-size: 30px;
}

.profile-img {
    width: 40px;
    height: 40px;
}

.contact {
    font-size: 1.3em;
    font-weight: bold;
}

.contact-info {
    background-color: #ebebeb;
    padding: 20px 0px;
    /*width: 97%;*/
}

.load-more-btn {

    height: 40px;
    color: #ffffff;
    border-radius: 0px;
    border: none;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    background-color: #d6d6d6;
}

.load-more-btn:focus {
    outline: none;
}

.share-org {
    font-size: 20px !important;
    position: absolute;
    color: #fff;
    right: 20px;
}

.activity-info {
    padding-top: 30px;
}

#single-article {
    margin-top: 80px;
}

.news {
    color: #000000;
    font-size: 20px;
}

#single-article .org {
    font-size: 30px;
}

#single-article .author {
    font-size: 20px;
}

.go-back {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 2px;
    padding: 5px 30px;
    margin: 30px 0px;
}

#single-article .fa-bookmark-o,
#single-article .fa-share-alt,
#single-article .fa-bookmark {
    font-size: 30px;
    color: #000;

}

#single-article .fa-bookmark-o,
#single-article .fa-bookmark {
    margin-left: -20px;
}

#single-article .fa-share-alt {
    margin-left: 50px;
}

#single-article .fa-clock-o {
    font-size: 17px;
}

#single-article .fa-comment-o {
    font-size: 30px;
}

.comment {
    font-size: 25px;
    font-weight: bold;
}

#single-article .popover {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px;
    position: absolute;
    left: 180px !important;
    width: 200px;
}

.comment-field {
    width: 100%;
    border: 1px solid #dedede;
    resize: none;
    margin-top: 25px;
    height: 150px;
    border-radius: 5px;
}

.btn-previous,
.btn-reply {
    border-radius: 2px;
    font-size: 17px;
    height: 50px;
}

.btn-reply {
    background-color: #349946;
}

.btn-previous {
    background-color: #949494;
}

.article-t {
    font-size: 30px;
    font-weight: bold;
}

#single-article ul {
    padding-left: 0px;
}

#single-article ul li {
    display: inline;
    list-style-type: none;

}

#single-article ul li a {
    color: #000000;
    font-size: 20px;
    padding: 5px 10px;
    margin: auto;
}

.article {
    height: 270px;
    background-clip: content-box;;
    padding: 10px;
}

.articles .profil {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 23px;
    left: 25px;
}

.hidden {
    display: none;
}

.article-title {
    font-size: 1.5em;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.articles .article-type {
    font-size: 32px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.articles {
    height: auto;
    padding-bottom: 50px;
}

.search-field {
    padding: 20px;
    width: 100%;
    border: none;
    font-size: 22px;
}

.search-field:focus {
    outline: none;
}

.tab-1:focus {
    font-weight: bold;
}

.tab-2:focus {
    font-weight: bold;
}

.col-xs-1 {
    padding: 0px;
}

.col-md-3.visible-article {
    /*padding-left: 12%;*/
}

.search-img-item {
    height: 36px;
    position: absolute;
    right: 0;
}

.search-item {
    padding-top: 16px;
}

.search-item.row a {
    color: #000;
}

.search-title {
    color: black;
}

.active {
    font-weight: bold;
}

.category-tag {
    font-size: 33px;
    color: #fff;
    margin-left: 10px;
}

#single-article .popover .arrow {
    display: none;
}

button.cancel.btn.btn-lg.btn-default {
    width: 100px;
    color: black;
    height: 45px;
}

button.confirm.btn.btn-lg.btn-primary {
    height: 45px;
    width: 100px;
}

/*** custom checkboxes ***/
input[type=checkbox] {
    position: relative;
    width: 36px;
    height: 30px !important;
}

/* to hide the checkbox itself */
label > input[type=checkbox]:before {
    position: absolute;
    background-color: #FFFFFF;
    font-family: FontAwesome;
    font-size: 30px;
    display: inline-block;
    content: "\f0c0";
    color: #a1a1a1;
}

/* space between checkbox and label */
label > input[type=checkbox]:checked:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 30px;
    color: #000000;
    content: "\f0c0";
}

input#categories {
    outline: none;
    box-shadow: none;
    width: 100% !important;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    height: 40px;
    font-size: 20px;
}

ul#ui-id-1 {
    background-color: #FFFFFF;
    list-style-type: none;
    font-size: 20px;

}

.category-label {
    color: #a1a1a1;
    font-size: 20px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: -45%;
    left: 85%;
    margin-top: -1px;
}

.org-adm,
a.org-adm:hover {
    background-color: #D14A43 !important;
    color: #FFFFFF !important;
    margin: 0px !important;
    padding-bottom: 8px !important;
    padding-left: 40px !important;
}

.org-adm span {
    color: #FFFFFF;
}

.btn-green {
    border: none;
    background-color: #349946;
    color: #fff;
}

.btn-purple {
    border: none;
    background-color: #5935db;
    color: #fff;
}

.btn-white {
    border: 1px solid black;
    background-color: white;
    color: #000;
}

.btn-red {
    border: 1px solid #D14A43;
    background-color: #D14A43;
    color: #fff;
}

.btn-membership {
    font-size: 12px;
    height: 30px;
    width: 70%;
}

.member-avatar {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
}

.loading img {
    width: 100px;
}

.org-following, .people-following {
    font-size: 20px;
    font-weight: bold;
}

span.search-title,
span.search-result-title {
    font-size: 18px;
    color: #000;

}

.articles-title{
    font-size: 18px;
    padding: 5px;
    color: #000;
}

.articles i.fa.fa-users {
    font-size: 15px;
    color: #fff;
    left: 70px;
    position: absolute;
}

.membership-type {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.administration-title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.col-xs-1 {
    margin-right: 5px;
}

div.acc-details-label {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;

}

div.edit-acc-label {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}

div.del-acc-label {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}