/*Responsive*/

/* Large Devices, Wide Screens */
    @media (max-width : 1200px) {

        .logo {
            margin-left: 10px;
        }

    }

    @media (max-width : 991px) {

    }
/*Medium Devices, Desktops */
    @media (max-width: 800px) {

        .logo {
            margin-left: 10px;
        }


        #nav-bar1 {
            margin-left: 0px;
        }

        #articles {
            padding: 0px;
        }

        .row.latest [class*='col-']:not(:first-child),
        .row.latest [class*='col-']:not(:last-child) {
            padding-right: 1.5px;
            padding-left: 1.5px;
        }

        .video-icon {
            margin-left: 40%;
        }

        footer {
            margin-top: 200px;
        }

        .popover {
            width: 400px;
            margin-left: -180px;
        }

        .popover.bottom > .arrow {
            margin-left: 170px;
        }

        .fa-close:before {
            font-size: 15px
        }

        .fa-close {
            margin-top: 49px;
            margin-right: 5px;
        }



    }

    @media (max-width: 991px) {
        @media (max-width: 800px) {
            .fa-close {
                margin-top: 80px;
                margin-right: 90px;
            }
        }
    }

    /* Small Devices, Tablets (iPad)*/
    @media (max-width: 768px) {

        #feed h1 {
            font-size: 1.9em;
            margin-bottom: 20px;
        }

        a .fa-close {
            margin-top: 80px;
            margin-right: 90px;
        }

        .article-title {
            margin: -150px 5px;
        }

        .row-margin {
            margin-left: 0px;
        }

        #un-registered .btn-signup {
            float: none;
            width: 180px;
            margin-left: 70px;
        }

        #un-registered .btn-continue {
            width: 180px;
            margin-top: 35px;
            margin-right: 145px;
        }

        #feed #search{
            margin-left: -5px;
        }

    }

    @media (max-width: 767px) {

        #un-registered .btn-continue {
            width: 40%;
            margin-top: 35px;
            margin-left: 30%;
        }

        #un-registered .btn-signup {
            float: none;
            width: 40%;
            margin-left: 20%;
        }

        #feed .fa {
            font-size: 25px;
        }
    }

    @media (max-width: 492px) {

        #un-registered .btn-signup {
            width: 60%;
            margin-left: 20%;
        }
    }


    @media (max-width: 568px) {
        .fa-close:before {
            font-size: 15px
        }

        .fa-close {
            margin-top: 49px;
            margin-right: 5px;
        }
    }

    /* Extra Small Devices, Phones */
    @media (max-width: 480px) {

        .row-margin {
            margin-left: -10px;
        }

        footer {
            text-align: center;
            margin: 50px 0 0 0;
        }

        #un-registered .btn-signup {
            width: 60%;
            margin: 20% 5%;
        }

        #un-registered .btn-continue {
            width: 60%;
            margin: 20% 5%;
        }

        nav img {
            width: 40px;
            height: 40px;
            margin: 30px -5px;
            padding-right: 0px;
        }


        #articles .article-type {
            width: 30px;
            height: 35px;
        }
    }

    @media (max-width: 435px) {

        #un-registered .btn-signup {
            width: 80%;
            margin: 42px;
        }
    }

    @media (max-width: 415px) {

        .intro {
            padding-top: 0px;
        }

        #un-registered .btn-signup {
            width: 80%;
            margin: 20px 0px;
        }

        #un-registered .btn-continue {
            width: 80%;
            margin: 20px 30px;
        }

        footer {
            margin-top: 150px;
        }

        .article-title {
            font-size: 1.1em;
            margin-top: -160px;
        }

        .icon {
            margin: 0 20px 0 -20px;
        }

        .video-icon {
            margin-left: 39%;
        }

        .fa-close {
            width: 10px;
            margin-top: -30px;
            margin-right: -7px;
        }
    }

    @media (max-width: 375px) {

    }



    @media only screen and (max-width: 360px) {

        #un-registered .btn-signup {
            width: 80%;
            margin: 20px 30px;
        }

        #un-registered .btn-continue {
            width: 80%;
            margin: 5px 30px 20px 30px;
        }

        ul {
            margin-left: -40px;
        }

        nav img {
            margin: 4px -5px;
        }

        #attach-type {
            margin-right: 0px;
        }


    }



    /* Custom, iPhone Retina */
    @media (max-width: 320px) {


        #sign-in {
            display: none;
        }

        .fa-close:before {
            font-size: 15px
        }

        .fa-close {
            margin-top: 49px;
            margin-right: 5px;
        }

        .fa-play {
            font-size: 16px !important;
        }

        .fa{
            font-size: 15px;
        }
        #feed h1 {
            font-size: 2em;
            margin-top: 100px;
        }

        #un-registered .btn-signup {
            width: 200px;
            text-align: center;
            margin-left: -5%;
        }

        #un-registered .btn-continue {
            width: 200px;
            text-align: center;
            margin-right: 12%;
        }

        nav img {
            width: 40px;
            height: 40px;
            margin: 30px -5px;
            padding-right: 0px;
        }

        #articles img {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .learn-more, .about, .support {
            padding: 0;
        }

        footer {
            margin: 100px 0 0 0;
            text-align: center;
        }

        ul {
            margin-left: -55px;
        }

        .article-title {
            font-size: 12px;
            margin: -150px 10px;
        }

        #articles .play-pause {
            float: left;
            width: 27px;
            height: 27px;
            margin-right: 3px;
            margin-top: -55px;
        }


    }

