{% extends "layout.html" %}
{% block body %}
<!--About Section-->
    <section id="feed">
        <div class="container">
                 {% include "unregistered.html" %}

                 {% if current_user.is_authenticated() %}
                 <nav id="nav-bar" style="margin-top: 100px;">
                <br><br><br><br>
                    <div class="row">
                        <div class="col-md-12 col-sm-10 col-xs-10 menu-icons">
                            <div class="col-md-1">
                            <button class="fa fa-bars dropdown-toggle " data-toggle="dropdown"></button>
                                <ul class="dropdown-menu" style="margin: 12px 0 0 -76px;">
                                    <li><a href="#" class="active">Feed</a></li>
                                    <li><a href="{{ url_for('main.manage') }}">Article management</a></li>
                                    <li><a href="#">Comments</a></li>
                                    <li><a href="#">Bookmarks</a></li>
                                    <li><a href="#">People / Organisations</a></li>
                                    <li><a href="{{ url_for('user.account', slug = current_user.name)  }}">Account Details</a></li>
                                </ul>
                            </div>
                            <a href="{{ url_for('article.new_article') }}" class="fa fa-pencil col-md-1" ></a>
                            <a href="" class="fa fa-search col-md-1 col-sm-3 col-xs-2" id="search" style="margin-left: -75px; margin-right: 70px;"></a>
                            <a href="" class="fa fa-file-video-o col-md-1 col-md-offset-5 col-sm-1 col-sm-offset-5 col-xs-1 col-xs-offset-1 text-center" id="video-type" data-toggle="tooltip" title="Filter by video"></a>
                            <a href="" class="fa fa-file-audio-o col-md-1 col-sm-1 col-xs-1 text-center" id="audio-type" data-toggle="tooltip" title="Filter by audio"></a>
                            <a href="" class="fa fa-file-text-o col-md-1 col-sm-1 col-xs-1 text-center" id="text-type" data-toggle="tooltip" title="Filter by text"></a>
                            <a href="" class="fa fa-paperclip col-md-1 col-sm-1 col-xs-1 text-center" id="attach-type" data-toggle="tooltip" title="Filter by attachment"></a>
                        </div>
                    </div>
                </nav>

                {% else %}
                <nav id="nav-bar">
                <br><br>
                    <div class="row">
                        <div class="col-md-12 col-sm-10 col-xs-10 menu-icons">

                            <a href="" ><i class="fa fa-search  col-md-3 col-sm-3 col-xs-2" aria-hidden="true" id="search"></i></a>
                            <a href="" ><i class="fa fa-file-video-o col-md-1 col-md-offset-5 col-sm-1 col-sm-offset-5 col-xs-1 col-xs-offset-1 text-center" aria-hidden="true"id="video-type" data-toggle="tooltip" title="Filter by video"></i></a>
                            <a href="" ><i class="fa fa-file-audio-o col-md-1 col-sm-1 col-xs-1 text-center" aria-hidden="true" id="audio-type" data-toggle="tooltip" title="Filter by audio"></i></a>
                            <a href="" ><i class="fa fa-file-text-o col-md-1 col-sm-1 col-xs-1 text-center" aria-hidden="true" id="text-type" data-toggle="tooltip" title="Filter by text"></i></a>
                            <a href="" ><i class="fa fa-paperclip col-md-1 col-sm-1 col-xs-1 text-center" aria-hidden="true" id="attach-type" data-toggle="tooltip" title="Filter by attachment"></i></a>
                        </div>
                    </div>
                </nav>
                {% endif %}
                <div id="articles">
                <div class="row latest row-bottom-margin row-margin">
                    <div class="col-md-8 col-xs-8 text-type" style="padding-right: 0;">
                        <img src="{{ url_for('static', filename='img/4.jpg')}}" class="img-responsive"/>
                        <h3 class="article-title">The post-colonial condition in Sweden</h3>
                        <a href=""><img src="{{ url_for('static', filename='img/prof1.jpg')}}" class="img-circle img-responsive profil"/></a>
                        <i class="fa fa-file-text-o" aria-hidden="true" id="article-type"></i>
                    </div>

                    <div class="col-md-4 col-xs-4 text-type">
                        <img src="{{ url_for('static', filename='img/1.png') }}" class="img-responsive"/>
                        <h3 class="article-title">An insight into the new immigrant law</h3>
                        <a href=""><img src="{{ url_for('static', filename='img/prof2.jpeg') }}" class="img-circle img-responsive profil"/></a>
                        <i class="fa fa-file-text-o" aria-hidden="true" id="article-type"></i>
                    </div>
                </div>

                <div class="row latest row-bottom-margin row-margin">
                    <div class="col-md-4 col-xs-4 audio-type third-row" style="padding-right: 0;">
                        <img src="{{ url_for('static', filename='img/2.jpg') }}" class="img-responsive"/>
                        <h3 class="article-title">Panther Podcast Episode 1, Season 2</h3>
                        <a href=""><img src="{{ url_for('static', filename='img/prof3.png') }}" class="img-circle img-responsive profil"/></a>
                        <i class="fa fa-file-audio-o" aria-hidden="true" id="article-type"></i>
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-4 col-xs-4 attach-type third-row" style="padding-right: 0;">
                        <img src="{{ url_for('static', filename='img/5.jpg') }}" class="img-responsive"/>
                        <h3 class="article-title">The Creolean lifestyle</h3>
                        <a href=""><img src="{{ url_for('static', filename='img/prof4.jpg') }}" class="img-circle img-responsive profil"/></a>
                        <i class="fa fa-paperclip" aria-hidden="true" id="article-type"></i>
                    </div>
                    <div class="col-md-4 col-xs-4 video-type third-row">
                        <img src="{{ url_for('static', filename='img/33.gif') }}" class="img-responsive"/>
                        <h3 class="article-title">How to survive the internet age</h3>
                        <a href=""><img src="{{ url_for('static', filename='img/prof5.jpeg') }}" class="img-circle img-responsive profil"/></a>
                        <i class="fa fa-file-video-o" aria-hidden="true" id="article-type"></i>
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="row latest row-margin">
                    <div class="col-md-4 col-xs-4 text-type" style="padding-right: 0;">
                        <img src="{{ url_for('static', filename='img/6.jpg') }}" class="img-responsive"/>
                        <h3 class="article-title">Panthers unite! - A decade celebrated in style!</h3>
                        <a href=""><img src="{{ url_for('static', filename='img/prof6.jpeg') }}" class="img-circle img-responsive profil"/></a>
                        <i class="fa fa-file-text-o" aria-hidden="true" id="article-type"></i>
                    </div>
                    <div class="col-md-8 col-xs-8 text-type">
                        <img src="{{ url_for('static', filename='img/7.jpg') }}" class="img-responsive"/>
                        <h3 class="article-title">Ipsum volupat condimentum dolores</h3>
                        <a href=""><img src={{ url_for('static', filename='img/prof7.png') }}" class="img-circle img-responsive profil"/></a>
                        <i class="fa fa-file-text-o" aria-hidden="true" id="article-type"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip();
});
</script>

{% endblock %}