{% extends "layout.html" %}
{% block body %}
    <!--About Section-->
    <script>
        $(document).ready(function () {
            $('#search-org').on('keypress', function (e) {
                if (e.which == 13) {//Enter key pressed
                    var query = $('#search-org').val();
                    var url = "{{ url_for('main.search_organizations') }}" + '?q=' + query;
                    window.location = url;
                }
            });

        });

    </script>

    <section id="feed">
        {% include "unregistered.html" %}
        {% include "mod_feed/main_menu.html" %}

        <div class="row">
            <div class="col-md-2 col-md-offset-3">
                <a href="{{ url_for('main.search_organizations') }}">
                    <span class="search-title active">Organizations</span>
                </a>

            </div>
            <div class="col-md-1 col-md-offset-0">
                <a href="{{ url_for('main.search_people') }}">
                    <span class="search-title">People</span>
                </a>

            </div>
            <div class="col-md-2 col-md-offset-0">
                <a href="{{ url_for('main.search_articles') }}">
                    <span class="search-title">Articles</span>
                </a>

            </div>
        </div>
        <div class="row">

            {% for organization in organizations %}
                <div class="search-item row">
                    <div class="col-md-1 col-md-offset-2">
                        <img src="{{ url_for('static', filename='img/prof3.png') }}" class="img-circle search-img-item">
                    </div>
                    <div class="col-md-6">
                        <a href="{{ url_for('organization.feed', organization_slug=organization.org_slug) }}"><span
                                class="search-result-title">{{ organization.name }}</span></a>
                    </div>
                </div>

            {% endfor %}

        </div>

    </section>

{% endblock %}