{% extends "layout.html" %}
{% block body %}
    <!--About Section-->
    <script>
        $(document).ready(function () {
            $('#search-article').on('keypress', function (e) {
                if (e.which == 13) {//Enter key pressed
                    var query = $('#search-article').val();
                    var url = "{{ url_for('main.search_articles') }}" + '?q=' + query;
                    window.location = url;
                }
            });

        });

    </script>

    <section id="feed">
        {% include "unregistered.html" %}

        {% if current_user.is_authenticated %}
            <script>

            </script>
            <nav id="nav-bar1" style="margin-top: 100px;">
                <br><br><br><br>

                <div class="row menu-icons">

                    <div class="col-md-1 col-sm-1 col-xs-1 text-center">
                        {% if current_user.is_authenticated %}
                            <button class="fa fa-bars dropdown-toggle" data-toggle="dropdown"
                                    style="color: #000"></button>
                            <ul class="dropdown-menu" style="margin: 12px 0 0 30px;">
                                <li><a href="{{ url_for('main.feed') }}" class="active">Feed</a></li>
                                <li><a href="{{ url_for('article.my_articles', article_action='show') }}">Article
                                    management</a></li>
                                <li><a href="#">Comments</a></li>
                                <li><a href="#">Bookmarks</a></li>
                                <li><a href="#">Following</a></li>
                                <li><a href="#">Account details</a></li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 text-center">
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('article.new_article', author_type='individual', name=current_user.name , username=current_user.username) }}"
                               class="fa fa-pencil"></a>
                        {% endif %}
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 text-center">
                        <a href="{{ url_for('main.search_organizations') }}" class="fa fa-search " aria-hidden="true"
                           id="search1"
                           style="margin-left: 0px;"></a>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <input type="text" id="search-article" class="search-field" placeholder="Search for articles"/>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                        <a href="" class="fa fa-file-video-o" aria-hidden="true" id="video-type1"
                           data-toggle="tooltip" title="Filter by video"></a>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                        <a href="" class="fa fa-file-audio-o" aria-hidden="true" id="audio-type1"
                           data-toggle="tooltip" title="Filter by audio"></a>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                        <a href="" class="fa fa-file-text-o" aria-hidden="true" id="text-type1"
                           data-toggle="tooltip" title="Filter by text"></a>
                    </div>

                    <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                        <a href="" class="fa fa-paperclip" aria-hidden="true" id="attach-type1"
                           data-toggle="tooltip" title="Filter by attachment"></a>
                    </div>


                </div>
            </nav>

        {% else %}
            <nav id="nav-bar">
                <br><br>
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                        <a href="#" class="fa fa-search" aria-hidden="true" id="search"></a>
                    </div>
                     <div class="col-md-7 col-sm-7 col-xs-7">
                        <input type="text" id="search-article" class="search-field" placeholder="Search for articles"/>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                        <a href="" class="fa fa-file-video-o " aria-hidden="true" id="video-type"
                           data-toggle="tooltip" title="Filter by video"></a>
                    </div>

                    <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                        <a href="" class="fa fa-file-audio-o " aria-hidden="true" id="audio-type"
                           data-toggle="tooltip" title="Filter by audio"></a>
                    </div>

                    <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                        <a href="" class="fa fa-file-text-o " aria-hidden="true" id="text-type"
                           data-toggle="tooltip" title="Filter by text"></a>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                        <a href="" class="fa fa-paperclip " aria-hidden="true" id="attach-type"
                           data-toggle="tooltip" title="Filter by attachment"></a>
                    </div>

                </div>
            </nav>
        {% endif %}
        <div class="row">
            <div class="col-md-2 col-md-offset-3">
                <a href="{{ url_for('main.search_organizations') }}">
                    <h4 class="search-title ">Organizations</h4>
                </a>

            </div>
            <div class="col-md-1 col-md-offset-0">
                <a href="{{ url_for('main.search_people') }}">
                    <h4 class="search-title">People</h4>
                </a>

            </div>
            <div class="col-md-2 col-md-offset-0">
                <a href="{{ url_for('main.search_articles') }}">
                    <h4 class="search-title active">Articles</h4>
                </a>

            </div>
        </div>
        <div class="row" id="Articles-found">

            {% for article in articles %}
                <div class="search-item row">
                    <div class="col-md-1 col-md-offset-2">
                        <img src="{{ url_for('static', filename='img/prof3.png') }}" class="img-circle search-img-item">
                    </div>
                    <div class="col-md-6">
                        <a href="{{ url_for('article.article', slug = article.slug) }}"><h4 class="search-result-title">{{ article.title }}</h4></a>
                    </div>
                </div>

            {% endfor %}

        </div>

    </section>

{% endblock %}