{% extends "layout.html" %}
{% block body %}

    <div id="article-management">
        <div class="row">
            <div class="col-md-12 col-xs-12 editor-menu">
                <button class="fa fa-bars dropdown dropdown-toggle " aria-hidden="true" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Feed</a></li>
                        <li><a href="{{ url_for('main.manage') }}" class="active">Article management</a></li>
                        <li><a href="#">Comments</a></li>
                        <li><a href="#">Bookmarks</a></li>
                        <li><a href="#">People / Organisations</a></li>
                        <li><a href="{{ url_for('user.account', slug='slug') }}">Account Details</a></li>
                    </ul>
                <a href="{{ url_for('main.write') }}" class="fa fa-pencil" ></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Article Management</h4>
            </div>
        </div>

        <div class="row text-center article-visibility" >
            <div class="col-md-8 " style="display: flex;">
                <h3>An insight into the new immigrant law</h3>
                <time datetime="2016-07-20T12:39">2016-07-20 12:39</time>
                <i class="fa fa-eye"></i>
                <i class=" fa fa-trash-o"></i>
            </div>
        </div>
    </div>

{% endblock %}