{% extends "layout.html" %}
{% block body %}


    <div id="article-bookmarks">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <button class="fa fa-bars dropdown dropdown-toggle " aria-hidden="true" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Feed</a></li>
                        <li><a href="{{ url_for('article.my_articles', article_action='') }}">Article management</a></li>
                        <li><a href="#">Comments</a></li>
                        <li><a href="#" class="active">Bookmarks</a></li>
                        <li><a href="#">Following</a></li>
                        <li><a href="{{ url_for('user.account', slug='slug') }}">Account Details</a></li>
                    </ul>
                <a href="{{ url_for('article.new_article') }}" class="fa fa-pencil" ></a>
            </div>
        </div>

        <div class="row">
           <div class="col-md-10 col-md-offset-1">
                <h3>Bookmarks</h3>
                <span style="color:red;"> {{ message }} </span>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-10 col-md-offset-1 ">

            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

{% endblock %}

{#
class Bookmark(db.Model):
    url = TextField()
    created_date = DateTimeField(default=datetime.datetime.now)#}
{#
bookmarks = Blueprint('bookmarks', __name__, template_folder='templates')

@bookmarks.route('/')
@auth.login_required
def list():
    qr = Bookmark.select()
    return object_list('bookmarks/articles.html', qr)

@bookmarks.route('/add/')
@auth.login_required
def add():
    url = request.args.get('url')
    if url:
        Bookmark.get_or_create(url=url)
    return redirect(url or url_for('bookmarks.list'))

@bookmarks.route('/<pk>/delete/')
@auth.login_required
def delete(pk):
    bookmark = get_object_or_404(Bookmark, id=pk)
    bookmark.delete_instance()
    return redirect(url_for('bookmarks.list'))#}
