{% extends "layout.html" %}
{% block body %}
    <div class="org-feed">
        <br/><br/><br/>
        {% include('mod_organization/org_menu.html') %}
        <div class="org-article-management">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3>Article Management</h3>
                    <span style="color:green;"> {{ message }} </span>
                </div>
            </div>

            <div class="row">
                <div class="article-visibility">
                    <div class="col-md-10 col-md-offset-1">
                        {% for article in articles %}
                            <div id="{{ article['_id'] }}" class="manage-line" style="">
                                <div class="col-md-6 col-sm-5 col-xs-10">
                                    {% if article['published'] == False %}
                                        <a href="{{ url_for('article.article',slug=article['slug']) }}">
                                            <h3 style="font-size: 20px; padding-bottom: 5px;">(DRAFT)
                                                - {{ article['title'] }}
                                            </h3>
                                        </a>
                                    {% else %}
                                        <a href="{{ url_for('article.article',slug=article['slug']) }}">
                                            <h3 style="font-size: 20px; padding-bottom: 5px;">{{ article['title'] }}</h3>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-4">
                                    <h3 style="font-size: 14px" datetime="2016-07-20T12:39">
                                        {% if article['published_date'] %}
                                            {{ article['published_date'].strftime('%Y-%m-%d %H:%M') }}
                                        {% endif %}
                                    </h3>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 visible-article text-right">
                                    {% if article['visible'] == True %}
                                        <a href="{{ url_for('article.edit_org_article_visibility', organization_slug=organization.org_slug, slug = article.slug, visible=False) }}">
                                            <i class="fa fa-eye "></i>
                                        </a>
                                    {% elif article['visible'] == False %}
                                        <a href="{{ url_for('article.edit_org_article_visibility', organization_slug=organization.org_slug, slug = article.slug, visible=True) }}">
                                            <i class="fa fa-eye-slash"></i>
                                        </a>
                                    {% endif %}
                                    <a class="del"
                                       href="{{ url_for('article.delete_article', slug = article.slug, delete = False) }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    <a href=""><i class=" fa fa-pencil-square-o"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.del').click(function (event) {
                event.preventDefault();
                var url = this.href;
                swal({
                            title: "Are you sure?",
                            text: "Your will not be able to recover this article!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Yes",
                            confirmButtonColor: "#DD6B55",
                            cancelButtonText: "Cancel",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },

                        function (isConfirm) {
                            if (isConfirm) {
                                swal({
                                    title: '',
                                    text: 'Article is successfully deleted!',
                                    type: 'success'
                                }, function () {
                                    window.location = url;

                                });

                            } else {
                                swal("Cancelled", "Your article is safe :)", "error");
                            }
                        });
            });
        });


    </script>
{% endblock %}