<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Kreotive</title>

        <!--Fonts -->

        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

         <!--CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}" type="text/css">


        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>


        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/kreotive.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/filtering.js') }}"></script>

    </head>

    <body>

        <div class="container-fluid">
            <header>
                <div class="row">
                    <div class="col-xs-8 col-md-2 col-md-offset-1">
                        <h1 class="logo">Kreotive</h1>
                    </div>
                      {{ g.user }}
                    <div class="col-xs-4 col-md-8">
                        {% if current_user.is_authenticated %}
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{{ url_for('auth.logout')  }}" style="color:#3b8cde">Log out</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#" id="sign-in" data-toggle="popover" content="#log-in-form" style="color:#3b8cde">Log In</a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <br>
                            <div class="col-md-12">
                                <form id="log-in-form" class="hidden">
                                    <div class=" col-md-10 text-center">
                                        <button type="button" class="btn btn-log-in-google"><img src="../static/img/google-plus.png" /> Log in with Google</button>
                                        <button type="button" class="btn btn-log-in-facebook"><img src="../static/img/facebook.png" />Log in with Facebook</button>
                                        <br>
                                        <h5 class="text-center">- or -</h5>
                                        <input type="email" class="form-control" align="middle" id="email-login" placeholder="Email">
                                        <input type="password" class="form-control" id="pass-login" placeholder="Password">
                                        <a href="" style="float: left; color:#666666; font-size: 0.8em;">Forgot your password?</a>
                                        <button type="submit" class="btn btn-log-in">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </header>


            {% block body %}
            {% endblock %}



            <footer>
                <div class="row">
                    <div class=" col-xs-10 col-md-3 col-md-offset-1 learn-more">
                        <ul>
                        <li><a href=""><h6><b>LEARN MORE</b></h6></a></li><br>
                        <li><a href=""><h6 style="margin-bottom: 35px;">New Features</h6></a></li>
                        <li><a href=""><h6>Pricing</h6></a></li>
                        </ul>
                    </div>

                    <div class=" col-xs-10 col-md-3 about1">
                        <ul>
                        <li><a href=""><h6><b>ABOUT</b></h6></a></li><br>
                        <li><a href=""><h6>Blog</h6></a></li>
                        <li><a href=""><h6>About</h6></a></li>
                        <li><a href=""><h6>Investors</h6></a></li>
                        </ul>
                    </div>

                    <div class="col-xs-10 col-md-2 col-md-offset-1 support">
                        <ul>
                        <li><a href=""><h6><b>SUPPORT</b></h6></a></li><br>
                        <li><a href=""><h6>FAQ</h6></a></li>
                        <li><a href=""><h6>Privacy</h6></a></li>
                        <li><a href=""><h6>Terms of Service</h6></a></li>
                        </ul>
                    </div>
                </div>
            </footer>

        </div>

        <script>
            $(document).ready(function() {
                $(".close-icon").click(function () {
                    $("#un-registered").fadeOut(1000);
                });
            });
        </script>

        <script>
            $(function() {
                $('a[href*="#"]:not([href="#"])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                        $('html, body').animate({
                        scrollTop: target.offset().top
                        }, 800);
                        return false;
                        }
                    }
                });
            });
        </script>
    </body>
</html>