<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kreotive</title>

    <!--Fonts -->

    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert.css') }}" type="text/css">


    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/kreotive.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/filtering.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>


    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
</head>

<body>

<div class="container">
    <header>
        <div class="row">
            <div class="col-xs-7 col-md-2">
                <a href="{{ url_for('main.feed') }}"><h1 class="logo">Kreotive</h1></a>
            </div>
            <div class="col-xs-5 col-md-8 col-md-offset-2 text-right">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('profile.feed', username = current_user.username) }}" style="margin: auto">
                        {% if current_user.avatar_url %}
                            <img src="{{ url_for('static',filename='') + current_user.avatar_url }}"
                                 class="profile-avatar img-circle profile-img">
                        {% else %}
                             <img src="{{ url_for('static',filename='img/no-avatar.png') }}"
                                 class="profile-avatar img-circle profile-img">
                        {% endif %}
                    </a>
                    <a href="{{ url_for('auth.logout') }}" class="log-out" style="color:#3b8cde; font-size:16px; margin-top: 30px;">Log
                        out</a>
                {% else %}
                    <a href="#" id="sign-in" data-toggle="popover" content="#log-in-form" style="color:#3b8cde">Log
                        In</a>
                    <div class="row">
                        <br>
                        <div class="col-md-12">
                            <form id="log-in-form" method="post" action="{{ url_for('auth.login') }}" class="hidden">
                                <div class=" col-md-10 text-center">
                                    <button type="button" class="btn btn-log-in-google"><img
                                            src="{{ url_for('static', filename='img/google-plus.png') }}"/> Log in with
                                        Google
                                    </button>
                                    <button type="button" class="btn btn-log-in-facebook"><img
                                            src="{{ url_for('static', filename='img/facebook.png') }}"/>Log in with
                                        Facebook
                                    </button>
                                    <br>
                                    <h5 class="text-center">- or -</h5>
                                    <input name="email" type="email" class="form-control" align="middle"
                                           id="email-login" placeholder="Email">
                                    <input name="password" type="password" class="form-control" id="pass-login"
                                           placeholder="Password">
                                    <input type="checkbox" name="remember_me" value="remember_me" style="margin: 0">Remember
                                    me<br>
                                    <a href="" style="color:#666666; font-size: 0.8em;">Forgot your password?</a></br>
                                    {% if error %}
                                        <div style="color:red;">   {{ error }}</div>
                                    {% endif %}
                                    <button type="submit" class="btn btn-popover-log-in">Log in</button>
                                    <br/>
                                    Not registered? <a href="{{ url_for('auth.sign_up') }}">Sign up here!</a>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>


    {% block body %}
    {% endblock %}


    <footer>

        <div class="row">
            <div class="col-xs-12 col-md-3 learn-more">
                <ul>
                    <li><a href=""><h6><b>LEARN MORE</b></h6></a></li>
                    <br>
                    <li><a href=""><h6 style="margin-bottom: 35px;">New Features</h6></a></li>
                    <li><a href=""><h6>Pricing</h6></a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-3 about1">
                <ul>
                    <li><a href=""><h6><b>ABOUT</b></h6></a></li>
                    <br>
                    <li><a href=""><h6>Blog</h6></a></li>
                    <li><a href=""><h6>About</h6></a></li>
                    <li><a href=""><h6>Investors</h6></a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-2 support">
                <ul>
                    <li><a href=""><h6><b>SUPPORT</b></h6></a></li>
                    <br>
                    <li><a href=""><h6>FAQ</h6></a></li>
                    <li><a href=""><h6>Privacy</h6></a></li>
                    <li><a href=""><h6>Terms of Service</h6></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<script>
    $(document).ready(function () {

        $(document).on('click', '.btn-popover-log-in', function () {
            $.post('{{ url_for('auth.login')}}', {
                email: $('#email-login').val(),
                password: $('#pass-login').val()
            }, function (r) {
                window.location = '{{ url_for('auth.login')}}';
            }).fail(function () {

            })
        });

        $('a[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 800);
                    return false;
                }
            }
        });
    });

    $(document).on("click", function (e) {
        if (e.target.id == "close") {
            $("#un-registered").fadeToggle(500);
            e.stopPropagation();
            return false;
        }
        else if ($("#un-registered").is(":visible")) {
            $("#un-registered").fadeOut(500);
        }
    });


    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });


</script>
</body>
</html>