
                  <div class="row" id="un-registered">
                        <div class="col-md-8 col-md-offset-2">
                            <a href='#' class='close_notification' title='Click to Close'>
                                <img src="../../static/img/close.png" class="close-icon"onClick="hide('hideme')" />

                            </a>

                            <h1>Sign up to get the most out<br> of Kreotive. </h1>
                            <h5 class="text-center">For youth organisations all over Sweden.</h5>
                            <div class="row">
                                <div class=" col-sm-12 col-md-5 col-md-offset-1">
                                    <a href="{{ url_for('main.sign') }}" class="btn btn-signup">Sign up</a>
                                </div>

                                <div class=" col-sm-12 col-md-5">
                                    <a type="button" class="btn btn-continue" onClick="document.getElementById('nav-bar').scrollIntoView();">Continue unregistered</a>
                                </div>
                            </div>
                        </div>

                    </div>

