
                  <div class="row" id="un-registered">
                        <div class="col-md-8 col-md-offset-2">
                            <a href="#nav-bar">
                                <i class="fa fa-close" aria-hidden="true"></i></a>


                            <h1>Sign up to get the most out<br> of Kreotive. </h1>
                            <h5 class="text-center">For youth organisations all over Sweden.</h5>
                            <div class="row">
                                <div class=" col-xs-12 col-sm-3 col-md-5 col-md-offset-1">
                                  <center><a href="{{ url_for('main.sign') }}" class="btn btn-signup">Sign up</a></center>
                                </div>

                                <div class=" col-xs-12 col-sm-3 col-md-5">
                                    <a href="#nav-bar" type="button" class="btn btn-continue">Continue unregistered</a>
                                </div>
                            </div>
                        </div>

                    </div>

