 <!--   This part is displayed when user is not logged in -->
  {{current_user.roles.name}}
 {% if not current_user.is_authenticated %}
<div id="un-registered">
    <div class="row">
        <div class="col-md-8 col-md-offset-2  col-xs-12 intro">
            <a href="#nav-bar" class="fa fa-close"></a>
            <h1>Sign up to get the most out<br> of Kreotive. </h1>
            <h5 class="text-center">For youth organisations all over Sweden.</h5>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-10 col-xs-offset-2 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 push-right">
            <a href="{{ url_for('auth.sign_up') }}" class="btn btn-signup">Sign up</a>
        </div>

        <div class=" col-xs-12 col-sm-5 col-sm-offset-1 col-md-5">
            <a href="#nav-bar" type="button" class="btn btn-continue push-left">Continue unregistered</a>
        </div>
    </div>
</div>
{% endif %}



